/dist
/node_modules
/database/database.sqlite
/public
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
package-lock.json
composer.lock
stubs/export.model.stub
stubs/export.plain.stub
stubs/export.query-model.stub
stubs/export.query.stub
stubs/import.collection.stub
stubs/import.model.stub
composer.lock
storage
access.log
